/*页面*/
	.mask{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 2000;
		display: none;
	}
	.wrapper{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	.wrapperChange{
		position: relative;
		top: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #eee;
		overflow: hidden;
	}
/*头部*/
	.header{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	.headerBg{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 50px;
		background-color: #fcb040;
	}
	.headerBgLeft{
		position: fixed;
		left: 0;
		top: 0;
		width: 50%;
		height: 50px;
		background-color: #fcb040;
	}
	.headerLogo{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 220px;
		height: 50px;
		text-align: center;
	}
	.headerLogo a:nth-of-type(1){ height: 50px; }
	.headerLogo a:nth-of-type(1) img{ width: auto; height: 40px; }
/*头部右侧*/
	.headerRight{
		position: absolute;
		top: 0;
		left: 220px;
		right: 0;
		height: 50px;
		background-color: #fcb040;
	}
	.hiddenSidebar{
		width: 50px;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 18px;
		text-align: center;
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 0;
		-webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
		transform: rotateZ(90deg);
		-webkit-transform: rotateZ(90deg);
	}
	.hiddenSidebar:hover{ color: #ccc; }
	.hiddenSidebar_animate{
		transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}	
	/*.hiddenSidebar_animate1{
		-webkit-animation: hsa 0.3s linear 1 forwards;
		animation: hsa 0.3s linear 1 forwards;
	}*/
		/*@-webkit-keyframes hsa {
			0%{transform: rotateZ(90deg);}
			100%{transform: rotateZ(0deg);}
		}
		@-o-keyframes hsa {
			0%{transform: rotateZ(90deg);}
			100%{transform: rotateZ(0deg);}
		}
		@-moz-keyframes hsa {
			0%{transform: rotateZ(90deg);}
			100%{transform: rotateZ(0deg);}
		}
		@keyframes hsa {
			0%{transform: rotateZ(90deg);}
			100%{transform: rotateZ(0deg);}
		}*/

	.setting{ display: inline-block; }
	.setting span.username{ cursor: pointer; position: relative; }
	.setting span.username >.username_wrap{ color: #fff; }
	.setting span.username >.user_setting{
		position: absolute;
		top: 52px;
		right: -20px;
		background-color: #fff;
		min-width: 130px;
		max-width: 250px;
		display: none;
		z-index: 999;
	}

	.setting .userSetFace{
		color: #fff;
		background-color: #056839;
		text-align: center;
		line-height: initial;
		position: relative;
	}
	.setting .userSetFace >span.face{ position: relative; }
	.setting .userSetFace >span.face >img{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border: 2px solid #fff;
	}
	.setting .userSetFace >span.face >span.changeBJ{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		background-color: rgb(0,0,0);
		opacity: 0;
	}
	.setting .userSetFace >span.face:hover >span.changeBJ{ opacity: 0.5; }
	.setting .userSetFace >span.face >span.changeTxt{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
		opacity: 0;
	}
	.setting .userSetFace >span.face:hover >span.changeTxt{ opacity: 1; }
	.setting .userSetFace >span.userSetFace_username{
		padding: 0 20px;
		line-height: 35px;
		max-width: 250px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.setting .userSetUl{
		border-bottom: 1px solid #ddd;
		padding: 10px 0;
		width: 100%;
	}
	.setting .userSetUl li{
		width: 100%;
		float: left;
		height: 30px;
		line-height: 30px;
		max-width: 250px;
		white-space: nowrap;
		padding: 0 0 0 20px;
	}
	.setting .userSetUl li:hover,
	.setting .userSetLogout .exit:hover{ background-color: #056839; color: #fff; }
	.setting .userSetUl li i,
	.setting .userSetLogout .exit span.logout i{ width: 25px; }

	.setting .userSetLogout{ width: 100%; }
	.setting .userSetLogout .exit{ height: 30px; line-height: 30px; }
	.setting .userSetLogout .exit span.logout{ width: 100%; }

/*侧边栏*/
	.sidebar{
		position: absolute;
		left: 0px;
		top: 50px;
		bottom: 0;
		width: 220px;
		background-color: #fff;
	    z-index: 101;
	}
	.sidebarSlim{
		margin-left: 7px;		
	}
	/*.side_menu{ list-style: none; height: 100%; }*/
	.side_menu ul.side_menu_item{ overflow: hidden; }
	.side_menu_item hr{
		margin: 15px 0 4px 0;
		height: 1px;
		background-color: #ddd;
		border: initial;
	}
	.side_menu_item h5{
		height: 50px;
		line-height: 50px;
		cursor: pointer;
	}
	/*.side_menu_item h5 span:nth-of-type(1){
		width: 30px;
		text-align: right;
		opacity: 0;
	}*/
	/*.side_menu_item h5 span:nth-of-type(1) >img{
		width: auto;
		height: 16px;
	}*/
	.side_menu_item h5 span:nth-of-type(1){
		width: 180px;
		padding-right: 20px;
		text-align: center;
		font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif,'fontawesome';
		/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	}
	.side_menu_item h5 span:nth-of-type(2){
		width: 30px;
		color: #056839;
		text-align: left;
		float: right;
		font-size: 18px;
	}
	.side_menu_item strong{
		height: 30px;
		line-height: 30px;
		float: right;
		font-size: 20px;
		color: #056839;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		position: absolute;
		left: 170px;
		opacity: 0;
		display: none;	
	}
	.side_menu_item li{
		position: relative;
		height: 30px;
		line-height: 30px;
		cursor: pointer;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		font-size: 16px;
		/*display: none;*/
	}
	.side_menu_item li div{
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		width: 5px;
		height: 0;
		background-color: #056839;
		position: absolute;
		left: 0;
		top: 15px;
	}
	.side_menu_item li:hover{ background-color: #eee; }
	.side_menu_item li a{
		width: 100%;
		color: #333;
		text-decoration: none;
		text-align: center;
		padding:0 10px;
		box-sizing: border-box;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		outline: medium;
	}
/*右边工作页面*/
	.bugContent{
	    position: absolute;
	    top: 50px;
	    right: 0;
	    bottom: 0;
	    left: 220px;	    
	}
	.bugMainSlim{ margin-right: 7px; }
	.bugMain{
	    width: 100%;
	    height: auto;
	    padding: 0 10px;
	}
	.bugMain >div{
		padding: 0 15px;
		width: 100%;
		height: auto;
	}

/*主页 头部 相似属性*/
	.main_title{
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	.main_title i{ margin-right: 5px; }
	.main_title >div.mainTitle{
		/*min-width: 200px;*/
		float: left;
		font-size: 20px;
	}
	.main_title >div.mainAdd{
		width: auto;
		float: right;
		padding: 0 10px;
	}
	.main_title >div.mainAdd >div{
		height: 34px;
		line-height: 34px;
		margin-right: 10px;
	}
/*内容页 下拉列表相似属性*/
	.mainFilter{
		min-height: 32px;
		line-height: 30px;
	}
	.mainNav{
		height: 30px;
		position: relative;
		float: left;
		margin:0 2px 2px 0;
	}
	.mainNav a{
		width: 100%;
		color: #fff;
		outline: medium;
	}
	.mainNav span{ height: 30px; line-height: 30px; }
	.main_dropdown{
		min-width: 140px;
		height: 30px;
		position: relative;
		padding: 0 10px;
		background-color: #056839;
	}
	.main_dropdown a span:nth-of-type(1){ margin-right: 10px; }
	.main_dropdown a strong{ font-weight: 400; }
	.main_dropdown a span:nth-of-type(2){ float: right; }
	.main_drop_menu{
		min-width: 150px !important;
		max-height: 150px;
		position: absolute;
		top: 32px;
		left: 0px;
		background-color: #fff;
		padding: 5px 0;
		margin-top: 1px;
		display: none;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		z-index: 10;
	}
	.main_drop_menu 		>div{ max-height: 140px; }
	.main_drop_menu 		>div >div:first-child{ max-height: 140px; }
	.main_drop_menu li{ width: 100%; height: 30px; line-height: 30px; }
	.main_drop_menu li:hover{ background-color:  #f5f5f5; }
	.main_drop_menu li a{ color: #999; padding: 0 10px;}
	.main_drop_menu li:hover a{ color: #000; }

	.main_dropdownInput{ padding: 0 0 0 10px; }
	.main_dropdownInput input,
	.main_dropdownInput span,
	.main_dropdownInput button{ 
		color: #fff; 
		background-color: #056839;
		vertical-align: initial;
	}
	.main_dropdownInput >input:focus{ 
		min-width: 100px;
		vertical-align: initial;
		/*border: 1px solid #ccc;*/
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);	
	}
	.main_dropdownInput >span >button:nth-of-type(1){ 
		width: 30px; 
		cursor: pointer;
	}

	.main_dropdownInput >input::-webkit-input-placeholder{ color: #ccc; }
	.main_dropdownInput >input::-moz-input-placeholder{ color: #ccc; }
	.main_dropdownInput >input::-ms-input-placeholder{ color: #ccc; }
	.main_dropdownInput >input::-o-input-placeholder{ color: #ccc; }
/*右侧 下拉框 */
	.dropdown-menu-right{
		min-width: 100px !important;
		box-shadow: 0 4px 23px 5px rgba(0,0,0,.2),0 2px 6px rgba(0,0,0,.15);
		background-color: #eee; 
		border: none; 
		left: initial; 
		right: 0 ;
	}
	.dropdown-menu-right li{ height: 30px; line-height: 30px; padding: 1px 2px; margin: 1px 0; }
	.dropdown-menu-right li a{ width: 100%; text-align: center; color: #999; border-radius: 4px; }
	.dropdown-menu-right li:hover a{ color: #000; background-color: #ccc; }
	
	#ui-datepicker-div{ z-index: 9999999999999999 !important; }
		.dropdown-menu-right{ max-height: 150px; margin-top: 8px; }
		.dropdown-menu-right 	>div{ max-height: 140px; }
		.dropdown-menu-right 	>div >div:first-child{ max-height: 140px; }
		.dropdown-menu-right 	>div >div:first-child >li >a{ padding:0 10px; }
		.dropdown-menu-right_sanjiao{
			width: 0px;
			height: 0px;
			border-top: 10px solid rgba(0,0,0,0);
			border-left: 10px solid rgba(0,0,0,0);
			border-right: 10px solid rgba(0,0,0,0);
			border-bottom: 10px solid rgb(204,204,204);
			position: absolute;
			top: -21px;
			right: 20px;
			z-index: 1000; 
		}
/*内容 表格 相似属性*/
	.main_table{
		width: 100%;
		margin-top: 10px;
		border-collapse: collapse;
		margin-bottom: 20px;
	}
	.main_table tr{
		height: 41px;
		
		/*line-height: 40px;*/
		color: #333;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
	.main_table thead tr{ background-color: #fafafa; /*font-family: "fontawesome";*/ }
	.main_table tbody tr{ cursor: pointer; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
	.main_table tbody tr:hover{ background-color: #eee; }
	.main_table th,
	.main_table td{
		padding: 0 5px 0 5px;
		word-wrap: break-word;		/*允许长单词换行*/
		word-break: break-all;		/*允许在单词内换行*/
		/*word-break: keep-all;*/	/*只能在半角空格或连字符处换行*/
	}
	.main_table tr th:nth-of-type(1),
	.main_table tr td:nth-of-type(1){
		padding: 0 5px 0 15px;
	}
	.main_table th.sort{ cursor: pointer; }
	.main_table th i { color: rgba(50,50,50,0.5); line-height: 40px; padding: 0 2px; }
	.main_table_tbody_tr_active{ background-color: #eee !important; }
	.main_table thead tr th strong.allCount{ padding-left: 5px; font-size: 12px; font-weight: 400; color: #056839;  }
	.main_table tr td span{
		padding: 5px 0;
		line-height: 1.5;
	}
/*分页*/
	.main_pagination{
		width: 100%;
		height: 50px;
		line-height: 50px;
		border-collapse: collapse;
		margin-bottom: 60px;
	}
	.pagination{
		width: 100%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		position: relative;
		margin: 10px 0 0 0;
	}
	.pagination a,
	.pagination span{
		text-align: center;
		width: 30px;
		height: 30px;
	    margin-right: 5px;
		color: #333;
		background-color: #ccc;
		border-radius: 15px;
		outline: medium;
	}
	.pagination .prev,
	.pagination .next { 
		width: 80px; 
		position: absolute;
	}
	.pagination .prev{ left: 0; }
	.pagination .next{ right: 0; }
	.pagination .current { color: #fff; background:  #056839; }
	.pagination .current.prev, .pagination .current.next{ color: #999; background: #fff; cursor: not-allowed; }
/*内容详情页隐藏盒子*/
	.main_detail{
		position: absolute;
		right: -600px;
		top: 55px;
		background-color: #fff;
		width: 600px;
		height: calc(100% - 60px);
		-webkit-height: calc(100% - 60px);
		-moz-height: calc(100% - 60px);
		-webkit-transition: all 1s linear;
		transition: all 0.3s linear;
		z-index: 100;
	}
	.main_detail_active{ right: 0px; box-shadow: 0 4px 23px 5px rgba(0,0,0,.2),0 2px 6px rgba(0,0,0,.15);}
	.main_detail >div:first-child{ width: 100%; height: 100%;	}
	.main_detail_top{
		width: 100%;
		height: 51px;
		line-height: 50px;
		padding: 0px 15px;
		border-bottom: 1px solid #eee; 
		position: absolute;
		left: 0;
		top: 0;
	}
	.main_detail_top span.main_detail_hidden{
		width: 30px;
		/*height: 50px;*/
		font-size: 25px;
		/*line-height: 50px;*/
		text-align: center;
		color: #056839;
		cursor: pointer;
		float: left;
	}
	.main_detail_top span.main_detail_hidden:hover{ color: #999; }
	.main_detail_top div.main_detail_btn{ height: 50px; display: inline-block; float: left; }
	.main_detail_top div.main_detail_btn button{
		min-width: 50px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: #fff;
		color: #056839;
		padding: 0 4px;
		border: 1px solid #056839;
		border-radius: 5px;
		vertical-align: middle;
		/*display: none;*/
	}
	.main_detail_top div.main_detail_btn button:hover{ color: #fff; background-color: #056839; }
	.main_detail_content{
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		height: calc(100% - 50px);
		-webkit-height: calc(100% - 50px);
		-moz-height: calc(100% - 50px);
	}
	.main_detail_top div.main_detail_btn button.del{ color: #c81623; border: 1px solid #c81623; }
	.main_detail_top div.main_detail_btn button.del:hover{color: #fff; background-color: #c81623; }

	.main_detail_contentPage{ width: 100%; padding: 15px 0 20px 0; }
	.main_detail_contentPage >div.row{ 
		padding: 5px 0; 
		margin: 0; 
		word-wrap: break-word;		/*允许长单词换行*/
		 word-break: break-all; 	/*允许在单词内换行*/
		/*word-break: keep-all;*/	/*只能在半角空格或连字符处换行*/
	}
	.rowM >h4{ font-weight: 600;color:#056839; padding: 5px 15px;  }
	.rowM >div{ padding: 5px 15px; float: left; }
	.rowM >div >label{
		/*display: table-cell;*/
		margin-bottom: 0;
		text-align: right;
	}
	.rowM >div >div{
		/*display: table-cell;*/
	}
	.rowM >div >div strong{
		/*padding-left: 10px;*/
		color: #c81623;
		font-weight: 400;
	}


	.mdLinkColor >div,
	.mdLinkColor >span{
		color: #056839;
		cursor: pointer;
		padding-right: 10px;
	}

.popupForm ul li.checked{
	border-color: #056839;
	color: #333;
	background: url(../img/btnCheckIcon.png) right bottom no-repeat #fff;
}



@media screen and (min-width: 1920px) {
	.wrapperChange{
        width: 1600px;
        height: 100%;      
        position: absolute;
        top: 0;    
        bottom: 0;
        left: 50%;
        margin-left: -800px;
    }

}

@media screen and (min-width: 300px) and (max-width: 767px) {

}



